<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>代码生成器</title>
    <meta name="description" content="这是一个开始……">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{/static/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/static/i/app-icon72x72@2x.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{/static/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/static/css/admin.css}">
    <link rel="stylesheet" th:href="@{/static/css/app.css}">
    <script th:src="@{/static/js/echarts.min.js}"></script>
</head>

<body data-type="index">


<header  th:replace="public/head"></header>



<div class="tpl-page-container tpl-page-header-fixed">


    <div th:replace="public/leftnav"></div>


    <div class="tpl-content-wrapper">

        <div class="tpl-content-scope">
            <div class="note note-info">
                <h3>使用说明
                    <span class="close" data-close="note"></span>
                </h3>
                <p> 一个简单的代码生成器，生成的代码可用于jeesite框架。</p>
                <p> 大家可以通过修改模板，来调整生成的代码。</p>

                <p><span class="label label-danger">提示:</span> 当前生成的代码尽可能贴近jeesite代码生成器生成的代码，但仍有需要自行调整的部分。
                </p>
            </div>
        </div>



        <div class="am-g" style="background-color: #fff">
            <div class="am-u-sm-12 am-u-sm-centered">
                <h2>技术说明</h2>
                <p>前端采用了Amaze UI+vue，后端为springboot+thymeleaf，接口尽可能的使用了Restful风格。模板生成使用了freemarker。</p>
                <p>数据库方面，目前只支持mysql。系统采用了hsqldb来存储自身数据，所以无需建表。</p>
                <hr/>
            </div>

            <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
                <h3>Bug 反馈</h3>
                <p>如遇到 Bug 或者使用问题，可以通过以下途径反馈给我：</p>
                <ol>
                    <li>在 GitHub 项目主页提交 <a href="">Issue</a>。</li>
                </ol>

            </div>
        </div>





    </div>

</div>


<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/amazeui.min.js}"></script>
<script th:src="@{/static/js/iscroll.js}"></script>
<script th:src="@{/static/js/app.js}"></script>
</body>

</html>